@page "/fetchdata"

@using GeneroGenerator.Data
@inject WeatherForecastService ForecastService


<style>
        .form-register th {
            font-size: 22px;
        }

        .form-register td {
            font-size: 20px;
        }

        .form-register a {
            font-size: 20px;
        }

</style>

<div class="form-register">
    <h1>Consulta de Generos</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>GeneroId</th>
                <th>Nombre </th>
                <th>       </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mainkra</td>
                <td><a href="">Editar</a>|<a href="">Eliminar</a></td>
            </tr>

        </tbody>
    </table>
</div>
   

@code {

}
