@page "/fetchdata"

@using GeneroGenerator.Data
@inject WeatherForecastService ForecastService


<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .form-register {
        width: 800px;
        background: #24303c;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
    }

    .form-register th {
        color: white;
    }

    .form-register td {
        color: white;
    }

</style>
<h1>Consulta de Generos</h1>

<div class="form-register">

    <table class="table">
        <thead>
            <tr>
                <th>GeneroId</th>
                <th>Nombre</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TemperatureC</td>
                <td>TemperatureF</td>

            </tr>

        </tbody>
    </table>
</div>
   
}

@code {

}
